<div class="user-settings">
  <h1>User Settings</h1>
  <div *ngIf="usersData.length > 0; else noUsers">
    <ul>
      <li *ngFor="let user of usersData">
        <h2>{{ user.name }}</h2>
        <!-- {{user.image}} -->
        <p>Email: {{ user.email }}</p>
        @if(user.location && user.location.length){
          <p><strong>Locations:</strong></p>
      <div *ngFor="let loc of user.location">
    <p>- {{ loc.label }}: {{ loc.address }}</p>
        </div>
        }
          <p> user ID: {{user._id}}</p>
      </li>
    </ul>
  </div>
  <ng-template #noUsers>
    <p>No users found.</p>
  </ng-template>
</div>