<div class="container py-4">
  <h1 class="text-center mb-4" style="color: var(--primary);">Frequently Asked Questions</h1>

  <div class="accordion" id="faqAccordion">
    @for (faq of question; track faq._id) {
      <div class="accordion-item mb-3 shadow-sm">
        <h2 class="accordion-header" id="heading{{ faq._id }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + faq._id" aria-expanded="false" [attr.aria-controls]="'collapse' + faq._id" style="color: var(--text); background-color: var(--background);">
            Q: {{ faq.question }}
          </button>
        </h2>
        <div [id]="'collapse' + faq._id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + faq._id" data-bs-parent="#faqAccordion">
          <div class="accordion-body" style="background-color: var(--background); color: var(--text);">
            A: {{ faq.answer }}
          </div>
        </div>
      </div>
    }
  </div>
</div>
