body{
   background-color: #24353F;
   color:white
}
a{
   color:white
}

section .item{
   box-shadow:  30px 10px 10px 10px #0b0d0d;
}


#loginName::placeholder,#loginMail::placeholder, #loginPass::placeholder{
background-color: transparent;
color: rgb(131, 127, 127);
opacity: 1;
}